/** CSS DE LA NAVBAR **/ 

.navbar {
    background-color:rgb(236, 229, 229,1); 
    height:40px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    float: left;
}

.navbar .nav-link {
    text-decoration: none;
    color:rgb(248, 161, 126);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}  

.navbar .bar{
    width: 50%;
}

.navbar .item{
    display: inline;
    margin-left:5%;
    text-align: center;
}

a:hover {
    background-color: lightgrey;
}


/** CSS DU DROPDOWN MENU **/ 

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(230, 218, 218);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: lightcoral}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}




@media(min-width: 768px) and (max-width: 1388px)
{
.navbar{
    width :100% ;
    padding :0px ;
    float: none;

}
}
 


